<ion-view title="Experience Bot" id="page2">
  <ion-content padding="false" scroll="false" class="has-header">
    <ion-scroll id="experienceBot-container8" class="top-container">
      <ion-list id="experienceBot-list7">
        <ion-item class="item-avatar" id="experienceBot-list-item3">
          <h2>Item</h2>
        </ion-item>
      </ion-list>
    </ion-scroll>
    <form id="experienceBot-form5" class="list bottom-form">
      <label class="item item-input" id="experienceBot-input7">
        <span class="input-label">Message</span>
        <input type="text" placeholder="">
      </label>
      <button id="experienceBot-button8" class="button button-balanced button-block">Submit</button>
    </form>
  </ion-content>
</ion-view>