<ion-view id="page1">
  <ion-tabs class="tabs-stable tabs-icon-top" id="tabsController-tabs1">
    <ion-tab title="Experience Bot" icon="ion-ios-musical-note" href="#/page1/page2" id="tabsController-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Merch Bot" icon="ion-bag" href="#/page1/page5" id="tabsController-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Your Orders" icon="ion-android-bookmark" href="#/page1/page4" id="tabsController-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>